<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.htrip">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.htrip.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htrip.SignUpActivity"
            android:parentActivityName="com.example.htrip.LoginActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.htrip.LoginActivity" />
        </activity>
        <activity
            android:name="com.example.htrip.ForgotPassword"
            android:parentActivityName="com.example.htrip.LoginActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.htrip.LoginActivity" />
        </activity>
        <activity android:name="com.example.htrip.MainActivity"
                  android:alwaysRetainTaskState="true"
                  android:launchMode="singleInstance"/>
        <activity
            android:name="com.example.htrip.JoinInActivity"
            android:parentActivityName="com.example.htrip.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.htrip.MainActivity" />
            >
        </activity>
        <activity
            android:name="com.example.htrip.CreateEventActivity"
            android:parentActivityName="com.example.htrip.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.htrip.MainActivity" />
            >
        </activity>
        <activity
            android:name="com.example.htrip.MyEventsActivity"
            android:parentActivityName="com.example.htrip.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.htrip.MainActivity" />
        </activity>
        <activity android:name="com.example.htrip.CHATActivity"
            android:parentActivityName="com.example.htrip.MyEventsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.htrip.MyEventsActivity" />

            </activity>
    </application>

</manifest>